@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #4F46E5;
  --color-primary-foreground: #FFFFFF;
  
  --color-secondary: #F3F4F6;
  --color-secondary-foreground: #1F2937;

  --color-accent: #818CF8;
  --color-accent-foreground: #FFFFFF;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
    --border: #e2e8f0;
    --card: #ffffff;
    --card-foreground: #0f172a;
    --secondary-bg: #f8fafc;
    --grid-color: #ccd3e0;
  }

  .dark {
    --background: #020617;
    --foreground: #f8fafc;
    --border: #1e293b;
    --card: #0f172a;
    --card-foreground: #f8fafc;
    --secondary-bg: #0f172a;
    --grid-color: #1e293b;
  }

  * {
    @apply border-(--border) outline-primary/50 transition-colors duration-200;
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply font-sans antialiased min-h-screen;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  button, a {
    cursor: pointer;
  }
}

.bg-grid-pattern {
  background-image: radial-gradient(circle, var(--grid-color) 1px, transparent 1px);
  background-size: 30px 30px;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-r from-primary to-accent;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

